# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Some of the popular languages that Data Scientists use are
- Some of the commonly used libraries used by Data Scientists include
- Data Science Tools 
- Convert time units in Python (e.g., minutes to hours)

# Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**
4. **Julia**

# Some of the commonly used libraries used by Data Scientists include:

1. **pandas**
2. **NumPy**
3. **scikit-learn**
4. **Matplotlib**
5. **TensorFlow**

| Data Science Tools |
   |--------------------|
   | Jupyter Notebook   |
   | RStudio            |
   | Apache Airflow     |
   | GitHub             |
   | MySQL              |
   | Kubernetes         |

### Below are a few examples of evaluating arithmetic expressions in Python.

- Addition      :`2 + 3 = 5`
- Subtraction   :    `5 - 2 = 3`
- Multiplication: `3 * 4 = 12`
- Division      :       `10 / 2 = 5`
- Exponentiation: `2 ** 3 = 8`
- Modulus       :        `10 % 3 = 1` 
- Floor Division: `10 // 3 = 3`

In [1]:
# This is a simple arithmetic expression to multiply then add integers
x = (3 * 4) + 5
print(x)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours= 200/60
hours

3.3333333333333335

## Author

Suvigya KAtiyar